body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: ffffff
}

.container-fluid {
  padding: 7% 15%;
}

/* Headers */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section.heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections Styling */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navgation Bar */
.navbar {
  padding: 0 20px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* title section */

#title .container-fluid {
  padding: 3% 9% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  /* padding-left:5%; */
  position: absolute;
  right: 20%;
}

/* feature section */
#features {
  position: relative;
  /* z-index: 1; */
}

.feature-column {
  text-align: center;
  /* margin: 3% 0; */
  padding: 5%;
}

.feature-heading {
  font-size: 1.5rem;
}

.feature-para {
  color: #8f8f8f;
  font-size: 1.5rem;
}

/* features icons */
.feature-icon {
  color: #ef8172;
  margin: 5% 0;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials section */
#testimonials {
  background-color: #ef8172;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}

.testimonial-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%
}

.press-logo {
  width: 15%;
  margin: 2% 2% 4%;
}

/* Pricing section */
#pricing {
  padding: 7%;
}

.pricing-column {
  padding: 3% 2%;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action Section */

/* Footer Section */
.footer-icon{
  margin: 1%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
